.wrapper div {
  width: 120px;
  height: 120px;
}

.first {
  background-color: #ff8888;
}

.two {
  position: relative;
  background-color: #7e8aeb;
  margin-left: 70px;
  margin-top: -40px;
  z-index: 2;
}

.three {
  background-color: #4def99;
  margin-left: 150px;
  margin-top: -40px;
}
