.wrapper {
  background-color: gray;
  width: 200px;
  height: 400px;
  transform: translate(-165px, 0);
  transition-duration: 0.5s;
}

.wrapper:hover .menu-name {
  display: none;
}

.wrapper:hover {
  transform: translate(0px, 0px);
  transition-duration: 0.5s;
}

.list {
  margin: 20px;
  padding: 20px;
  list-style: none;
}

.list li {
  margin: 10px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
}

.list li:hover {
  color: #d89003;
  cursor: pointer;
}

.list li::after {
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid black;
  background-color: #d89003;
  position: absolute;
  top: 2px;
  left: -30px;
  transform: rotate(45deg);
}

.menu-name {
  font-size: 20px;
  color: white;
  writing-mode: tb-rl;
  transform: translate(170px, -100px) rotate(180deg);
}
